 /* http://docs.jquery.com/UI/Autocomplete#theming*/
.ui-autocomplete { position: absolute; cursor: pointer; background:#fff; border:1px solid  #06F;



 }   

/* workarounds */
html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */
.ui-menu {
	
	 
    list-style:none;
    padding: 5px;
    margin: 0px;
    display:block;
    float: left;
	z-index:9999999;
	line-height:250%;
	fa fa-plane;
	
}

.ui-autocomplete-loading { background:url('../../../www.ticketshop-thueringen.de/Ticketshop-theme/images/dummy/loading_150.gif') no-repeat right center }


.ui-menu .ui-menu-item a.ui-corner-all:hover, .ui-menu .ui-menu-item a.ui-corner-all:focus, .ui-menu .ui-menu-item a.ui-corner-all:active {
    background: #36C;!important;
    color: #003;
    border-radius:0;
	border:1px solid  #006;
	
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background: #36C ;
    border: 2px  sloid;
    color: #CC0;
    border-radius:2px;
    font-weight: bold;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}	
	

